# Ignore the "venv" directory
venv/

# Ignore all files with the ".pyc" extension
*.pyc

# Ignore the "logs" directory and all files in it
logs/
logs/*

# Ignore the "data" directory and all files in it, except for the "orgs.csv" file
data/*
!data/orgs.csv

# Ignore the "static" directory and all files in it
static/*
!static/active_users_byday.png